/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher&display=swap');

:root {

   --font-sans: Montserrat, Arial, sans-serif;
   --font-serif: Philosopher, Georgia, serif;



  /* --color-neutral-light:#empty-cells: de9e9;
   --color-neutral-medium:#999191;
   --color-neutral-dark:#343030;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;*/

   --color-primary-darkpink: #B6174B;
   --color-secondary-green: #B4DC7F;
   --color-accent1-blushpink: #FFEBEC;
   --color-accent2-pistagreen: #F3FFC6;
   --color-accent3-yellow: #FEFFA5;

   --color-white:#fff;
   --color-black:#111;

   --header-height: 5rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
   color: var(--color-secondary-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-serif);
   color: var(--color-primary-darkpink);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}


.logo{
  height: 12em;
}


/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }
.flex-space-around { justify-content: space-around; }

.align-center {align-content: center;}


.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}




/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

[data-role="footer"] {
    flex: none;
    height: var(--footer-height);
    line-height: var(--footer-height);
    border-width: 0;
    background-color: var(--color-secondary-green);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}

[data-role="header"] {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-accent3-yellow);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
    border-radius: 0 0 1em 1em;
}


.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}


.welcome{
  text-align: center;
}



/* Navigation Elements */
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding: 0.5em 0 0 0;
  display:flex;
  position:relative;
}

[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

[data-role="header"] a {
  padding: 0 1em;
}


/*lists*/


  .list-card {
   background-color:var(--color-accent2-pistagreen);
   padding:1em;
   margin-top:1em;
   margin-bottom:1em;
   position:relative;
   overflow:hidden;
}

.list ul{
  padding: 0;
  margin: 1em;
}

.list-item img{
  max-width:5em;
}

.list-item-text {
  margin-left: 8%;
}

.list-item-text h3 {
  margin: 1vh 0;
  font-weight: 600;
}

.list-item-text p {
  margin: 0;
  font-weight: 400;
}




/* FORM ELEMENTS */
.form-control {
    margin: 2em 2em;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-neutral-medium);
}

.form-input{
  border-bottom: 1px solid var(--color-primary-darkpink);
}

.input {
    width: 100%;
    display: inline-block;
    border:none;
    padding: 0.5em 1em;
    outline: 0;
    font:inherit;
}

/*.icon-input {
  width: 100%;
  border: 1px solid #E6E6E6;
  margin: 8px 0;
  outline: none;
  padding: 8px 0px 8px 35px;
  transition: 0.3s;
}*/

.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 5em;
    border-width:0;
    background-color:var(--color-primary-darkpink);
    outline: 0;
    width: 100%;
    display: inline-block;
    font-family:var(--font-serif);
    color: var(--color-white);
    text-align:center;
    cursor:pointer;
    font-size: large;
}

/*.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}
*/

.searchbar {
    margin: 1em 1em 0 0;
    border-radius: 5em;
    border-width:0;
    background-color:var(--color-accent1-blushpink);
    outline: 0;
    width: 100%;
    display: inline-block;
    font-family:var(--font-serif);
    color: var(--color-white);
    text-align:center;
    cursor:pointer;
    font-size: large;
}




/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}









/* ICONS */

/*.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}*/

.icon img{
  max-width: 1.5em;
  max-height: 1em;

}


.icon-input-container{
  display:flex;
}


.title-icons .title,
.title-icons .icon {
  display:block;
  vertical-align: middle;
  color: white;
  padding-top: 3px;
}
.title-icons .icon {
  line-height:calc(var(--footer-height)*(2/3));
  font-size:1.5em;
  vertical-align: middle;
}
.title-icons .title {
  line-height:calc(var(--footer-height)*(1/3));
  font-size:0.7em;
  color: white;
  padding-top: 0px;
}


/* FLOATERS */
.floater { 
  position:absolute;
 }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:1em;
  display:block;
}

.floater img{
  max-width: 3em;
}




/* remove this later */
#recent-page [data-role='main'] {
  background-image: url('../img/maps.png');
  background-position:center;
  background-size:cover;
}